@import 'style/variables.module';

.enter {
  transform: translateX(150px);
  opacity: 0;
}

.enterActive {
  transform: translateX(0);
  opacity: 1;
  @include transition-opacity-transform;
}

.exit {
  transform: translateX(0);
  opacity: 1;
}

.exitActive {
  transform: translateX(150px);
  opacity: 0;
  @include transition-opacity-transform;
}

.decline {
  margin-left: 40px;
}
