@import 'style/variables.module';

.actions {
  @include transition-transform;

  height: 80px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;

  &.smallHeader {
    transform: translateY(-12px);
  }
}
