@import 'style/variables.module';

.box {
  background-color: $gray-70;
  padding: 4px;
  border-radius: 3px;
  margin-right: 8px;
  width: fit-content;
}

.text {
  @include text-style(18px, 16px, 0);

  color: $black;
  font-weight: bold;
}
