@import 'style/variables.module';

.restartConfirm {
  width: $device-width;
  height: $device-height;
  padding: 116px 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  @include text-style(44px, 48px, -0.02em);

  margin-bottom: 32px;
  font-weight: bold;
}

.description {
  @include text-style(32px, 40px, 0);

  margin-bottom: 40px;
}
