:root {
    --weather-bg-day: #169af833;
      /* General Colors */
    --primary-text-color: #FFFFFF;
    --secondary-text-color: #D0D0D0;
    --accent-color: #FFA726;
    
    /* Background Colors for Different Times of Day */
    --weather-bg-morning: #FFECB3;  /* Light Yellow */
    --weather-bg-afternoon: #FFD54F; /* Bright Yellow */
    --weather-bg-evening: #FFB74D;  /* Soft Orange */
    --weather-bg-night: #546E7A;    /* Dark Gray-Blue */
    
    /* Background Colors for Different Weather Conditions */
    --weather-bg-sunny: #169af8a6;        /* Blue */
    --weather-bg-partly-cloudy: #B0BEC5; /* Light Gray-Blue */
    --weather-bg-cloudy: #78909C;       /* Gray-Blue */
    --weather-bg-rainy: #477890;        /* Blue-Gray */
    --weather-bg-stormy: #37474F;       /* Dark Blue-Gray */
    --weather-bg-snowy: #ECEFF1;        /* Light Blue-Gray */
    --weather-bg-foggy: #CFD8DC;        /* Very Light Blue-Gray */
    
    /* Overlay for specific times */
    --day-overlay: #FFD70033;           /* Gold with transparency for day */
    --night-overlay: #26323880;         /* Dark Blue-Gray with transparency for night */

    /* Specific Weather Condition Overlays */
    --sunny-overlay: #FFF17633;         /* Light Yellow with transparency */
    --rainy-overlay: #03A9F480;         /* Light Blue with transparency */
    --stormy-overlay: #455A6480;        /* Dark Blue-Gray with transparency */
    --snowy-overlay: #B0BEC580;         /* Light Gray-Blue with transparency */
}

.view_weather {
    height: 82vh;
    overflow: hidden;    
}
.view_weather button {
    height: 100%;
    width: 100%;
}
.weather_container {
    width: 90%;
    height: 90%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    background-color: var(--bg-tinted-base);
    margin: 3% 5%;
    border-radius: 15px;
}

.weather_info {
    background-color: var(--bg-tinted-base);
    min-width:20%;
    height: 100%;
    width: 15%;
    border-right: 2px solid gray;
    padding: 5px;
    padding-top: 20px
}
.temp_info {
    padding: 15px;
    display: flex;
    align-items: center;
}
.temp_info h1 {
    font-size: 5em;
}
.temp_details {
    padding: 5px;
    margin: 0px;
    text-align: left;
}

.weather_card {
    background-color: var(--bg-tinted-base);
    width: 85%;
    padding: 5px;
    margin: auto;
    border-radius: 5px;
    margin-bottom: 5px;
    text-align: left;
}

.weather_main {
    width: 100%;
    background-color: #26323880;
}

.forecast_container {
    display: flex;
    overflow: scroll;
    padding: 0px 5px;
    max-width: 77%;
}
.forecast_container::-webkit-scrollbar {
    width: 0; /* Remove scrollbar width */
    background: transparent; /* Optional: hide scrollbar gutter */
  }
.forecast_card {
    background-color: var(--bg-tinted-base);
    min-width: fit-content;
    margin-right: 5px;
    padding: 5px;
    border-radius: 10px;
}