# dependencies
/node_modules
/.pnp
.pnp.js

# environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# data files
data.json
DeskThing/server/auth_data.json

# testing
/coverage

# production
/build
/releases
releases/Linux/deskthing-0.3.0.AppImage

# misc
.DS_Store
/.vscode
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache
tsconfig.tsbuildinfo

# AppExamples
/AppExamples/spotify/node_modules
/AppExamples/spotify/builds
/AppExamples/utility/node_modules
/AppExamples/weather/node_modules
/AppExamples/mediawincs
/AppExamples/mediawin/node_modules
/AppExamples/mediawin/builds
/AppExamples/spotify/builds
/AppExamples/discord/node_modules
/AppExamples/discord copy/node_modules
/AppExamples/discord copy/builds
/AppExamples/discord/builds
/AppExamples/discord template/node_modules
/AppExamples/discord template/builds
/AppExamples/timer_app/

*.zip
