@import 'style/variables.module';

.ambientBackdrop {
  @include transition-background;

  height: $device-height;
  overflow: hidden;
  position: absolute;
  width: $device-width;
  will-change: transform;
  z-index: -1;
  border-radius: 10px;
}
