@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Geist';
  src: url(/fonts/GeistVF.ttf) format('truetype');
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: 'GeistMono';
  src: url(/fonts/GeistMonoVF.ttf) format('truetype');
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: 'WingDing';
  src: url(/fonts/wingding.ttf) format('truetype');
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff00;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(51, 65, 85);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

:root {
  /* Colors possibly taken from spotify (Attempt and use these)  used for styling everything*/

    /**
     * The default background color of the base set.
     */
     --bg-base: #000000;
    /**
     * A background color that indicates the hover state of a component, or adds some oomph to a focus state.
     */
     --bg-highlight: #000000;
    /**
     * A background color that indicates the press state of a component.
     */
    --bg-press: #000000;
 
        /**
         * The default background color for elevated elements in the base set.
         */
         --bg-elevated-base: #000000;
         --bg-elevated-highlight: #000000;
         --bg-elevated-press: #000000;
 
        /**
         * The default background color for tinted elements in the base set.
         */
         --bg-tinted-base: rgba(255, 255, 255, 0.07);
         --bg-tinted-highlight: rgba(255, 255, 255, 0.1);
         --bg-tinted-press: rgba(255, 255, 255, 0.04);
  

        /**
         * Fallback color
         */
         --bg-unsafe-basebase: #000000;
        /**
         * Fallback color
         */
         --bg-unsafe-highlight: #000000;
        /**
         * Fallback color
         */
         --bg-unsafe-press: #000000;
 
    
         --color-albumColor: #000000;
         --color-albumText: #000000;
    /**
     * The default text color of the base set.
     */
     --text-base: #ffffff;
    /**
     * A subdued variant of the base text color.
     */
     --text-subdued: #a7a7a7;
    /**
     * A bright text color that contrasts with the set’s background colors. Often used to give key interactive elements more prominence.
     */
     --text-brightAccent: #1ed760;
     
     /**
     * A text color associated with negativity. Often used for errors, destructive actions, or to highlight negative metrics or data.
     */
     --text-negative: #f15e6c;
    /**
     * A text color associated with caution. Often used to highlight potential problems or slightly negative metrics or data.
     */
     --text-warning: #ffa42b;
    /**
     * A text color associated with positivity. Often used for success states, or to highlight positive metrics or data.
     */
     --text-positive: #1ed760;
    /**
     * A text color associated with positivity. Often used for success states, or to highlight positive metrics or data.
     */
     --text-tinted: #a1a1a18f;
    /**
     * A text color associated with system announcements and notifications.
     */
     --text-announcement: #3d91f4;

     --trello-color-red: #eb5a46;
     --trello-color-red_light: #ff8b85;  
     --trello-color-red_dark: #b04632;   
     
     --trello-color-orange: #ff9f1a;
     --trello-color-orange_light: #ffb983;
     --trello-color-orange_dark: #d97d0d; 
     
     --trello-color-yellow: #f2d600;
     --trello-color-yellow_light: #f6f792;
     --trello-color-yellow_dark: #d9b200; 
     
     --trello-color-green: #61bd4f;
     --trello-color-green_light: #86e891; 
     --trello-color-green_dark: #3b8735;  
     
     --trello-color-lime: #7bc86c;
     --trello-color-lime_light: #bef2c9;  
     --trello-color-lime_dark: #4a9442;   
     
     --trello-color-blue: #0055cc;
     --trello-color-blue_light: #73c3ed;  
     --trello-color-blue_dark: #09326c;   
     
     --trello-color-sky: #00c2e0;
     --trello-color-sky_light: #a2ecf5;   
     --trello-color-sky_dark: #9dd9ee;    
     
     --trello-color-purple: #c377e0;
     --trello-color-purple_light: #e0b3f7;
     --trello-color-purple_dark: #9466b9; 
     
     --trello-color-pink: #ffabb0;
     --trello-color-pink_light: #ffc4c8;  
     --trello-color-pink_dark: #d47b84;   
     
     --trello-color-brown: #b38f00;
     --trello-color-brown_light: #d1b367; 
     --trello-color-brown_dark: #846200;  
     
     --trello-color-gray: #838c91;
     --trello-color-gray_light: #cfd4d7;  
     --trello-color-gray_dark: #5c5e60;  
}

button {
  background-color: unset;
  border: unset;
  color: unset;
  width: unset;
  height: unset;
  transition: background-color 0.5s;
}

p, h1, h2, h3, h4, h5 {
  padding: 0px;
  margin: 0px;
}