.appselector {
  position: absolute;
  width: fit-content;
  height: 0px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  z-index: 10;
  background: var(--bg-tinted-base);
  transition: all 0.4s;
  align-content: flex-start;
}

.appselector::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.appselector.visible {
  height: 100px;
  transition: all 0.2s;
}

.appselector.touched {
  height: 100vh;
  overflow-y: scroll;
  background: var(--bg-base);
}

.app-button {
  margin: 5px 2.5vw;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  width: 20vw;
  height: 90px;
  background-color: var(--bg-base);
}

.app-button.preferred {
  background-color: var(--bg-base); /* Highlight preferred apps */
  border-top: 2px solid white;
}

.app-button.current {
  border-top: 2px solid var(--text-brightAccent); /* Highlight current view */
}