@import 'style/variables.module';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 32px;
  min-width: 0;
}

.contextTitle {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: bold;
  color: rgb(255 255 255 / 50%);
  padding: 40px 0 25px 10px;
  margin: -40px 32px -25px -10px;

  @include text-style(28px, 32px, -0.01em);
}
