@import 'style/variables.module';

.speedItem {
  height: 112px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;

  svg {
    margin-right: 30px;
  }
}

.activeItem {
  background: $opacity-white-10;
}

.pressed {
  opacity: 0.5;
}
