.view_discord {
    height: 85vh;
    width: 100vw;
    overflow-x: scroll;
    display: flex;
    justify-content: space-around;
    align-items: center;

}


.profile_container {
    padding: 15px 35px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-tinted-base);
}
.profile {
    width: 120px;
    height: 120px;
    border-radius: 100%;
    background-position: 0px 0px;
    background-size:cover;
    margin: 5px;
    border: 0px lime solid

}
.profile.speaking {
    margin: 0px;
    border: 5px lime solid
}
.profile_icon {
    background-color: lime;
    width: 15px;
    height: 15px;
    margin-left: 100px;
    margin-top: 100px;
    border-radius: 10px;
}
.profile_icon.muted {
    background-color: red;
}
.discord_name {
    background-color: var(--bg-tinted-base);
    border-radius: 5px;
    padding: 3px 5px;
}