.debug_container {
  width: 100%;
  top: 0px;
  position: absolute;
  display: flex;
  justify-content: center;
}
.debug {
  background: var(--bg-elevated-highlight);
  
  margin-top: 5px;
  left: auto;
  height: 25px;
  width: 15%;
  border-radius: 15px;
  overflow: hidden;
  transition: all 0.3s ease-out;
  display: flex;
  justify-content: space-around;
  z-index: 5;
}

.debug.visible {
  margin-top: 0px;
  height: 200px;
  width: 100%;
  border-radius: 0px 0px 25px 25px;
}
.debug.visible div {
  display: flex;
}
.debug div {
  display: none;
}

.debug_content {

  height: 300px;
  transition: transform 0.2s ease-out;
  width: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;

}

.debug_header {
  top: 0px;
  display: flex;
  justify-content: space-around;
  background-color: var(--bg-tinted-highlight);
}

.debug_pullTab {
  position: absolute;
  background-color: var(--bg-elevated-highlight);
  width: 100px;
  height: 15px;
  z-index: 5;
  transform: translate(0px, 305px);
  border-radius: 5px;
  transition: background-color 0.3s;
}

.debug_pullTab:hover {
  background-color: var(--bg-elevated-press);
}

.debug code {
  width: 100%;
  color: var(--text-base);
  background-color: var(--bg-base);
  height: 100%;
}

.getDeviceInfo {
  width: 50px;
  background-color: var(--bg-tinted-highlight);
  border: none;
  aspect-ratio: 1/1;
}