@import 'style/variables.module';

.mainMenu {
  background-color: $black;
  height: $device-height;
}

.header {
  background: $black;
  display: flex;
  align-items: center;
  width: 100%;
  height: 144px;

  p {
    margin-left: 40px;
    padding: 0;
    color: $white;
    font-weight: bold;

    @include text-style(44px, 49px, -0.02em);
  }
}
