@import 'style/variables.module';

.volumeBar {
  height: 8px;
  width: 480px;
  position: relative;
  border-radius: 4px;
  transform: translateY(2px);
  background: $gray-20;
}

.volumeLevelFill {
  display: block;
  height: 100%;
  border-radius: 4px;
  background-color: $white;
  overflow: hidden;
}
