@import 'style/variables.module';

$small-header-diff: 48px;

.queue {
  @include transition-transform;

  width: $device-width;
  height: $device-height + $small-header-diff;
  position: relative;
  overflow: hidden;

  &.smallHeader {
    transform: translateY(-$small-header-diff);
  }
}
