@import 'style/variables.module';

.backToSpotify {
  background-color: $gray-20;
  width: fit-content;
  padding: 8px 16px 8px 12px;
  border-radius: 50px;
  display: flex;

  &.pressed {
    opacity: 0.5;
  }
}

.label {
  padding-left: 8px;
}
