@import 'style/variables.module';

$progress-bar-height: 4px;
$container-height: -4px;

.scrubbingBar {
  @include transition-background-color;

  position: absolute;
  z-index: $overlay-z-index + 1;
  width: $device-width;
  height: $progress-bar-height;
  background-image: linear-gradient(0deg, rgb(0 0 0 / 50%), rgb(0 0 0 / 50%));
}

.progressPlayed {
  z-index: $scrubber-z-index + 1;
  background-color: $white;
  width: 2px;
  height: 100%;
}
