@import 'style/variables.module';

$container-width: 624px;

.noNetworkWrapper {
  display: grid;
  height: $device-height;
  width: $device-width;
  background-color: $black;

  & > * {
    margin: auto;
  }
}

.noNetwork {
  display: grid;
  width: $container-width;
  gap: 24px;

  & > * {
    margin: auto;
  }
}

.noNetworkContent {
  display: grid;
  text-align: center;
  gap: 16px;

  & > * {
    margin: auto;
  }
}
