@import 'style/variables.module';

.header {
  position: sticky;
  height: 144px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerDetails {
  margin-left: 40px;
  width: 100%;
  display: flex;
  align-items: center;

  svg {
    margin-right: 16px;
  }
}
