@import 'style/variables.module';

.tips {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 32px 48px 32px 40px;
}

.title {
  color: $green-light;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.topBar {
  display: flex;
  justify-content: space-between;
  margin-right: -8px;
}

.description {
  margin-top: 16px;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
