@import 'style/variables.module';

.placeholder {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $gray-20;
  background-clip: content-box;

  &.otherMedia {
    background-color: $opacity-white-10;
  }
}

.placeholderIcon {
  display: flex;

  svg {
    color: $gray-50;
  }
}
