.audioPlayer_container {
    padding-top: 3px;
    position:fixed;
    bottom:0px;
    width: 100vw;
    height: 80px;
    display:flex;
    transition: height 0.3s, background-color 0.2s ease-out;
    background: conic-gradient(from 0turn at 10% -5%,var(--bg-tinted-highlight) 26%, var(--color-albumColor) 50%);
    background-color: var(--bg-highlight);
    
    color: white;
  }
.audioPlayer {
    bottom:0px;
    width: 100vw;
    height: 160px;
    display:flex;
  }

  .audioPlayer_container.visible {
    height: 160px;
    background-color: var(--bg-press);
  }
  .audioPlayer_controls {
    width: 100%;
  }
  .buttonContainer {
    overflow:hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: calc(10px + 2vmin);
  }
  
  .mediaButton {
    height: 75px;
    aspect-ratio: 2/1;
    border: none;
    border-radius: 5px;
    --button-size: 82px;
    background-color: transparent;
    display: flex;
    height: var(--button-size);
    min-width: var(--button-size);
    position: relative;
    width: var(--button-size);
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    border: none;
    cursor: pointer;
    justify-content: center;
    color: var(--bg-tinted-highlight);
  }
  .icon {
    fill: var(--text-subdued);
  }
  .getSongInfo {
    height: 100%;
    max-width: 163px;
    min-width: 163px;
    display: flex;
    padding: 0px;
    margin: 0px;
    margin-top: -3px;
  }
  
  .getSongInfo .albumArt {
    height: 100%;
    overflow: hidden;
    border-radius: 0px 15px 15px 0px;
  }

  
  .Log {
    background-color: rgba(1, 1, 1, 1);
    width: 85vw;
    border-radius: 5px;
  }

  
  .active {
    color: var(--text-brightAccent);
  }
  
  /*
  
  ----------------------- Song Information
  
  */
  .songInformation {
  } 
  .songTitle {
    font-size: 35px;
    overflow: hidden;
    max-height: 50px;
    max-width:640px;
    text-wrap: nowrap;
    margin: auto;
  }
  .progressBar_container {
    margin:auto;
    width: 90%;
    height: 30px;
    background-color: var(--bg-tinted-base);
    overflow:hidden;
    border-radius: 15px;
  }
  .progressBar_progress {
    position:static;
    bottom: 0;
    height: 30px;
    background-color: var(--text-brightAccent);
  }
  .progressBar_timer {
    padding: 0;
    margin: 0;
    color: var(--text-base);
    transform: translate(0px, -30px);
    font-weight:bolder;
  }