.ap_color {
    /*transition: height 0.3s, background-color 0.2s ease-out;*/
    background: conic-gradient(from 0turn at 10% -5%,var(--bg-tinted-highlight) 26%, var(--color-albumColor) 50%);
    background-color: var(--bg-highlight);
  }
  .songTitle {
    font-size: 35px;
    overflow: hidden;
    max-height: 50px;
    max-width:640px;
    text-wrap: nowrap;
    margin: auto;
  }