@import 'style/variables.module';

.npv {
  position: relative;
  width: $device-width;
  height: $device-height;
  overflow: hidden;
  transition-delay: $duration-default;
}

.controlsContainer {
  height: 144px;
  position: absolute;
  width: 100%;
  bottom: 0;
  background: $opacity-black-30;
}

.enter {
  opacity: 0;
}

.enterActive {
  opacity: 1;

  @include transition-opacity;
}

.exit {
  opacity: 1;
}

.exitActive {
  opacity: 0;

  @include transition-opacity;
}
