@import 'style/variables.module';

.settingsLayer {
  position: absolute;
  width: $device-width;

  @include transition-opacity-transform;

  background-color: $black;
}

.transparent {
  background-color: $opacity-black-90;
  z-index: 1;
}
