@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'TheBoldFont';
  src: url('./fonts/THEBOLDFONT.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@layer base {
  @font-face {
    font-family: 'Geist';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('./fonts/GeistVF.ttf') format('truetype');
  }
}
@layer base {
  @font-face {
    font-family: 'GeistMono';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('./fonts/GeistMonoVF.ttf') format('truetype');
  }
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff00;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(51, 65, 85);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
