@import 'style/variables.module';

.noInteraction {
  height: $device-height;
  width: $device-width;
  position: absolute;
  top: 0;
  z-index: $onboarding-tactile-z-index + 1;

  @include rounded-corners;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: $opacity-black-90;
}
