.buttonGroupGrid {
  display: grid;
  gap: 24px;
  width: fit-content;

  // Only supporting 2 horizontal buttons? 🤔
  &.horizontal {
    grid-template-columns: 1fr 1fr;
    gap: 32px;
  }

  & > * {
    width: 100%;
  }
}
