button {
    background-color: unset;
    border: unset;
    color: unset;
    width: unset;
    height: unset;
    transition: background-color 0.5s;
}
.back_button {
    position: fixed;
    left: 3px;
    background-color: var(--bg-tinted-base);
    border-radius: 5px;
    padding: 15px;
}
.view_trello {
    width: 100vw;
    height: 75vh;
    overflow: scroll;
    background-color: var(--bg-base);
    padding-top: 35px;
}
.view_trello::-webkit-scrollbar {
 /* Remove scrollbar width */
    width: 4px;
    background: transparent; /* Optional: hide scrollbar gutter */
  }
.view_trello::-webkit-scrollbar-thumb {
    background-color: var(--bg-tinted-base); /* Optional: hide scrollbar gutter */
  }

.trello_default {
    padding-top:25vh;
}
.trello_default button {
    width: 50%;
    height: 100px;
    background-color: var(--bg-elevated-highlight);
    border-radius: 15px;
    color: unset;
}
.trello_default button:hover {
    background-color: var(--bg-elevated-press);
}
.trello_default_shortcuts {
    display: flex;
    background-color: var(--bg-tinted-base);
    padding: 5px;
    margin-top: 5px;
    flex-wrap: wrap;
    justify-content:space-around;
}
.trello_default_shortcut_item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 15px;
    width: 50px;
    min-width: fit-content;
    margin-right: 15px;
    height: 100px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: var(--bg-elevated-highlight);
    color: white;
}
.org_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
.org_item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    margin-bottom: 15px;
    width: 95%;
    border: 1px solid black;
    border-radius: 5px;
    background-color: var(--bg-elevated-highlight);
    color: white;
}
.org_title {
    text-align: left;
    margin-left: 5px;
}
.org_desc {
    margin-left: auto;
    text-align: left;
    width: 40%;
}
.img_alt {
    min-width: 65px;
    min-height: 65px;
    background-color: var(--text-announcement);
    border-radius: 25px;
    align-content: center;
    text-align: center;
    color: white;
    font-size: xx-large;
}
.closed {
    background-color: var(--text-warning);
}

.boards_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
.board_item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    margin-bottom: 15px;
    width: 95%;
    border: 1px solid black;
    border-radius: 5px;
    background-color: var(--bg-elevated-highlight);
    color: white;
}
.board_title {
    text-align: left;
    margin-left: 5px;
}
.board_starred {
    text-align: right;
}


.list_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    padding: 15px;
    align-content: center;
}
.list_item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    margin-bottom: 15px;
    width: 300px;
    min-width: fit-content;
    margin-right: 15px;
    height: 155px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: var(--bg-elevated-highlight);
    color: white;
}

.card_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    color: white;
}

.card_item {
    align-items: center;
    padding: 20px;
    margin-bottom: 15px;
    width: 90vw;
    height: 155px;
    border: 1px solid black;
    border-radius: 12px;
    background-color: var(--bg-elevated-highlight);
    color: white;
}