.view_trello {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    overflow-x: scroll;
    padding:50px;
    height: 70vh;
}

.card {
    width: 200px;
    height: 125px;
    background-color: var(--bg-elevated-highlight);
    border-radius: 5px;
    border: 1px solid var(--text-positive);
    text-align: left;
    color: var(--text-base);
    padding: 10px;
    margin: 12px;
}

.card:hover {
    background-color: var(--bg-highlight);
}
button {
    background-color: unset;
}

.board_details {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    overflow-x: scroll;
    padding:50px;
    height: 85vh;
}