@import 'style/variables.module';

$preset-card-width: 168px;

.presetTitle {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  white-space: nowrap;

  div {
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0;
    text-align: center;
  }

  .title {
    width: $preset-card-width;
    color: $opacity-white-70;
  }

  .active {
    color: $white;
  }

  .subtitle {
    width: $preset-card-width;
  }
}
