@import 'style/variables.module';

.toDecline {
  transform: translateX(123.5px);
  opacity: 1;

  svg {
    transform: rotate(135deg);
    margin-top: 10px;
    @include transition-transform;

    path {
      fill: $negative;
      @include transition-fill;
    }
  }
  @include transition-opacity-transform;
}
