@import 'style/variables.module';

.shelfTitles {
  display: flex;
  align-items: center;
  margin-top: 28px;
  margin-left: 44px;
}

.titleUnderlineContainer {
  margin-top: 4px;
  margin-bottom: 40px;
}

.titleUnderline {
  @include transition-transform;

  transform-origin: left;
  background-color: $green-light;
  height: 4px;
  width: 1px;
}
