.view_audible {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.view_audible button {
    background-color: var(--bg-tinted-highlight);
    margin: 15px;
    height: 100px;
    width: 200px;
    border-radius: 15px;
    border: gray 2px solid;
}
.view_audible button:hover {
    background-color: var(--bg-tinted-press);
}

.library-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
  
  .library-item {
    position: relative;
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 8px;
    height: 300px;
    aspect-ratio: 1/1;
  }
  
  .library-item-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: black;
    background-size: cover;
    background-position: center;
    opacity: 1; /* Adjust opacity as needed */
  }
  
  .library-item-content {
    position: relative;
    z-index: 1;
    padding: 10px;
    background-color: rgba(38, 38, 38, 0.894); /* Background color with opacity */
  }
  
  .library-item h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .library-item p {
    margin: 5px 0;
  }