@import 'style/variables.module';

.inlineTipItem {
  width: 508px;
  height: 324px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include transition-opacity-transform;
}

.subtitle {
  display: flex;
}

.tryThis {
  color: $green-light;
}

.toTheLeft {
  transform: translateX(-18px);
}

.hidden {
  opacity: 0;
}

.voiceTip {
  width: 448px;
  height: 304px;
}
