@import 'style/variables.module';

.statusIcons {
  top: 40px;
  right: 40px;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
  display: flex;
  color: $white;
  opacity: 0.7;

  > div:not(:first-child) {
    margin-left: 32px;
  }
}
