@import '@spotify-internal/encore-foundation/web/tokens';

// SIZE
$device-width: 800px;
$device-height: 480px;

// COLORS
$announcement: $blue-100;
$positive: $green-135;
$warning: $pumpkin-135;
$negative: $bright-red-100;
$backdrop-overlay: rgba(235, 0, 0, 0.5);

// Z-index
$overlay-z-index: 30;
$navigation-views: 10;
$onboarding-tactile-z-index: 25;
$scrubbing-overlay-z-index: $navigation-views + 2;
$scrubber-z-index: $scrubbing-overlay-z-index + 1;
$corners-z-index: 1000;

// TRANSITION
$easing-function: cubic-bezier(0.16, 1, 0.3, 1); // easeOutExpo
$easing-function-ease-out-cubic: cubic-bezier(0.33, 1, 0.68, 1);
$duration-ms: 500;
$duration-default: $duration-ms + 0ms;
$advance-default-cubic: cubic-bezier(0.3, 0, 0, 1);
$generic-cubic: cubic-bezier(0.3, 0, 0.7, 1);
$recede-default-cubic: cubic-bezier(1, 0, 0.7, 1);

@mixin transition-background() {
  /* stylelint-disable-next-line plugin/no-low-performance-animation-properties */
  transition: background $duration-default $easing-function;
}

@mixin transition-background-color() {
  /* stylelint-disable-next-line plugin/no-low-performance-animation-properties */
  transition: background-color $duration-default $easing-function;
}

@mixin transition-background-opacity() {
  /* stylelint-disable-next-line plugin/no-low-performance-animation-properties */
  transition: background $duration-default $easing-function,
    opacity $duration-default $easing-function;
}

@mixin transition-background-border() {
  /* stylelint-disable */
  transition: background $duration-default $easing-function,
    border $duration-default $easing-function;
  /* stylelint-enable */
}

@mixin transition-border-color() {
  /* stylelint-disable-next-line plugin/no-low-performance-animation-properties */
  transition: border-color $duration-default $easing-function;
}

@mixin transition-filter-transform() {
  transition: filter $duration-default $easing-function,
    transform $duration-default $easing-function;
}

@mixin transition-margin-right() {
  /* stylelint-disable-next-line plugin/no-low-performance-animation-properties */
  transition: margin-right $duration-default $easing-function;
}

@mixin transition-margin-right-opacity() {
  /* stylelint-disable-next-line plugin/no-low-performance-animation-properties */
  transition: margin-right $duration-default $easing-function,
    opacity $duration-default $easing-function;
}

@mixin transition-margin-right-transform() {
  /* stylelint-disable-next-line plugin/no-low-performance-animation-properties */
  transition: margin-right $duration-default $easing-function,
    transform $duration-default $easing-function;
}

@mixin transition-opacity(
  $duration: $duration-default,
  $easingFunction: $easing-function,
  $delay: 0ms
) {
  transition: opacity $duration $easingFunction $delay;
}

@mixin transition-opacity-transform(
  $duration: $duration-default,
  $easingFunction: $easing-function,
  $delay: 0ms
) {
  transition: opacity $duration $easingFunction $delay,
    transform $duration $easingFunction $delay;
}

@mixin transition-transform(
  $duration: $duration-default,
  $easingFunction: $easing-function
) {
  transition: transform $duration $easingFunction;
}

@mixin transition-transform-width(
  $duration: $duration-default,
  $easingFunction: $easing-function
) {
  /* stylelint-disable plugin/no-low-performance-animation-properties */
  transition: transform $duration $easingFunction,
    width $duration $easingFunction;
  /* stylelint-enable plugin/no-low-performance-animation-properties */
}

@mixin transition-fill() {
  transition: fill $duration-default $easing-function;
}

@mixin text-style($fs, $lh, $ls) {
  font-size: $fs;
  line-height: $lh;
  letter-spacing: $ls;
}

@mixin home-indicator($bg) {
  position: absolute;
  width: 134px;
  height: 5px;
  left: calc(50% - 134px / 2);
  background: $bg;
  border-radius: 100px;
}

@mixin rounded-corners {
  border-radius: 10px;
  overflow: hidden;
}

:export {
  easing-function: $easing-function;
  generic-cubic: $generic-cubic;
  transition-duration-ms: $duration-ms;
  recede-default-cubic: $recede-default-cubic;
  green-light: $green-light;
}
